.App {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif ;
}

h1 {
    color: brown;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h2 {
    color: blue;
    font-size: 1.5rem;
}

.input-field {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    margin: 20px 0;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: border 0.3s ease;
}

.input-field:focus {
    border-color: #4CAF50;
}

.save-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #45a049;
}

.save-button:active {
    background-color: #388e3c;
}