body {
    background: #c5db9c;
    font-family: "Segoe UI", sans-serif;
}



/* SIDEBAR */
.sidebar {
    width: 80px;
    background: #e2d5b5;
    height: 100vh;
    box-shadow: 2px 0 10px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}



.logo i {
    font-size: 22px;
    cursor: pointer;
}



.nav-icons li {
    list-style: none;
    margin: 18px 0;
}



.nav-icons i {
    font-size: 20px;
    color: #b0b3c6;
    cursor: pointer;
}



.nav-icons .active {
    color: #4f46e5;
}

.bottom-icons i {
    font-size: 20px;
    margin: 10px 0;
    color: #999;
    cursor: pointer;
}

/* MAIN CONTENT */
.main-content {
    padding: 30px;
}

/* TOP BAR */
.topbar {
    background: #a38484;
    padding: 15px 20px;
    border-radius: 12px;
}

.search-input {
    width: 300px;
    border-radius: 20px;
}

/* NOTIFICATION */
.notification-dot {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
}

/* PROFILE */
.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* CARDS */
.stat-card {
    border: none;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.06);
}

/* CHART */
.chart-box {
    height: 260px;
    background: linear-gradient(180deg, #eef2ff, #ffffff);
    border-radius: 15px;
}
